
# https listener
server {
  listen {% if site.listen != '' %}{{ site.listen }}:{% endif %}{{ site.port_ssl }} ssl {% if site.http_version | int == 2 %}http2{% elif site.http_version | int == 3 %}http3{% endif %};
{% if NGINX_CONFIG.ipv6 and site.listen_ipv6 != '' %}
  listen {{ site.listen_ipv6 }}:{{ site.port_ssl }} ssl {% if site.http_version | int == 2 %}http2{% elif site.http_version | int == 3 %}http3{% endif %};
{% endif %}
  server_name {{ site.domain }}{% for alias in site.aliases %} {{ alias }}{% endfor %}{% if site.ip is not none %} {{ site.ip }}{% endif %};

{% if site.main_redirect %}
  if ($host != $server_name) {
    rewrite ^/(.*) $scheme://$server_name/$1 permanent;
  }
{% endif %}

{% include "inc/site_https_log.j2" %}
{% include "inc/site_https_ssl.j2" %}
{% include "inc/site_https_config.j2" %}
{% include "inc/site_https_headers.j2" %}

{% if site.mode in ['serve', 'server'] %}
  # serve-mode config
  root {{ site.serve.path | default(site.server.path) }};
  index {% for ind in site.serve.index | default(site.server.index) %}{{ ind }} {% endfor %};
{% endif %}

{% if site.basic_auth.enable | bool %}
{%   if site.basic_auth.provider == 'file' %}
  auth_basic "{{ site.basic_auth.message }}";
  auth_basic_user_file /etc/nginx/auth/auth_{{ name }};
{%   else %}
  auth_pam "{{ site.basic_auth.message }}";
  auth_pam_service_name "nginx_{{ name }}_{{ site.basic_auth.pam.kind }}";
{%   endif %}
{% endif %}

  location / {
{% if site.mode == 'proxy' %}
    # proxy-mode config
    proxy_pass {{ site.proxy.proto }}://{{ site.proxy.dns | default(site.proxy.ip, true) }}:{{ site.proxy.port }};

{%   for option, value in site.proxy.headers.items() %}
{%     if value not in NONE_VALUES %}
    proxy_set_header {{ option }} {{ value }};
{%     endif %}
{%   endfor %}

{%   if site.proxy.cache.enable | bool %}
    proxy_cache {{ name }}_cache;
{%     for setting, value in site.proxy.cache.settings.items() %}
    proxy_cache_{{ setting }} {{ value }};
{%     endfor %}
{%   endif %}

{%   if site.basic_auth.enable | bool %}
{#   remove basic-auth headers before passing request; some application may be impacted by them #}
    proxy_set_header X-User "";
    proxy_set_header X-Auth "";
    proxy_set_header X-Auth-Type "";
    proxy_set_header Authorization "";
{%   endif %}

{% elif site.mode == 'redirect' %}
    # redirect-mode config
{%   if site.redirect.request_uri %}
    return {{ site.redirect.code }} {{ site.redirect.target }}$request_uri;
{%   else %}
    return {{ site.redirect.code }} {{ site.redirect.target }};
{%   endif %}

{% elif site.mode in ['serve', 'server'] %}
    # serve-mode config
    try_files $uri $uri/ /{{ site.serve.index[0] | default(site.server.index[0]) }};
{% endif %}

{% if site.config_additions_root | length > 0 %}
    # additional lines
{% endif %}
{% for line in site.config_additions_root %}
    {{ line }}
{% endfor %}

  }

{% if site.config_additions | length > 0 %}
  # additional lines
{% endif %}
{% for line in site.config_additions %}
  {{ line }}
{% endfor %}

}
