
{% if NGINX_CONFIG.headers | length > 0 %}
  # global headers
{%   for header, value in NGINX_CONFIG.headers.items() %}
{%     if header not in site.headers and value not in NONE_VALUES %}
{%       if 'header' in header %}
  {{ header }} {{ value }};
{%       else %}
  add_header {{ header }} {{ value }};
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}

{% if site.headers | length > 0 %}
  # site-specific headers
{%   for header, value in site.headers.items() %}
{%     if value not in NONE_VALUES %}
{%       if 'header' in header %}
  {{ header }} {{ value }};
{%       else %}
  add_header {{ header }} {{ value }};
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}
