# http server
server {
  listen {{ site.port_plain }};
  server_name {{ site.domain }}{% for alias in site.aliases %} {{ alias }}{% endfor %}{% if site.ip is not none %} {{ site.ip }}{% endif %};

  # log config
{% if NGINX_CONFIG.log.syslog %}
{%   if NGINX_CONFIG.log.syslog_host is not none %}
  access_log syslog:server={{ NGINX_CONFIG.log.syslog_host }},tag=nginx_{{ name }},nohostname,severity=info combined;
  error_log  syslog:server={{ NGINX_CONFIG.log.syslog_host }},tag=nginx_{{ name }},nohostname,severity=error;
{%   else %}
  access_log syslog:server=unix:/dev/log,tag=nginx_{{ name }},nohostname,severity=info combined;
  error_log  syslog:server=unix:/dev/log,tag=nginx_{{ name }},nohostname,severity=error;
{%   endif %}
{% elif NGINX_CONFIG.log.per_site %}
  error_log {{ NGINX_CONFIG.log.path }}/{{ name }}_error.log;
  access_log {{ NGINX_CONFIG.log.path }}/{{ name }}_access.log;
{% else %}
  error_log {{ NGINX_CONFIG.log.path }}/error.log;
  access_log {{ NGINX_CONFIG.log.path }}/access.log;
{% endif %}

{% if site.headers|length > 0 %}
  # site-specific headers
{% endif %}
{%   for header, value in site.headers.items() %}
{%     if 'header' in header %}
  {{ header }} {{ value }};
{%     else %}
  add_header {{ header }} {{ value }};
{%     endif %}
{%   endfor %}

  # security config
{% if restrict_methods %}
  if ($request_method !~ ^(GET|POST)$ ) {
    return 405;
  }
{% endif %}

  # redirect all to secure connection
  return 301 https://{{ site.domain }}$request_uri;

}

# https server
server {
  listen {{ site.port_ssl }} ssl;
  server_name {{ site.domain }}{% for alias in site.aliases %} {{ alias }}{% endfor %}{% if site.ip is not none %} {{ site.ip }}{% endif %};
{% if NGINX_CONFIG.log.syslog %}

  # log config
{%   if NGINX_CONFIG.log.syslog_host is not none %}
  access_log syslog:server={{ NGINX_CONFIG.log.syslog_host }},tag=nginx_{{ name }},nohostname,severity=info combined;
  error_log  syslog:server={{ NGINX_CONFIG.log.syslog_host }},tag=nginx_{{ name }},nohostname,severity=error;
{%   else %}
  access_log syslog:server=unix:/dev/log,tag=nginx_{{ name }},nohostname,severity=info combined;
  error_log  syslog:server=unix:/dev/log,tag=nginx_{{ name }},nohostname,severity=error;
{%   endif %}
{% elif NGINX_CONFIG.log.per_site %}
  error_log {{ NGINX_CONFIG.log.path }}/{{ name }}_error.log;
  access_log {{ NGINX_CONFIG.log.path }}/{{ name }}_access.log;
{% else %}
  error_log {{ NGINX_CONFIG.log.path }}/error.log;
  access_log {{ NGINX_CONFIG.log.path }}/access.log;
{% endif %}

  # ssl config
  ssl_certificate_key '{{ local_cert_key }}';
  ssl_certificate     '{{ local_cert_pub }}';  # should use the certificate chain => top is server cert; bottom root cert
{% if site.ssl.file_ca is none %}
  ssl_stapling on;
  ssl_stapling_verify on;
{% else %}
  ssl_trusted_certificate {{ site.ssl.file_ca }};
  ssl_stapling off;
  ssl_stapling_verify off;
{% endif %}

  # security config
{% if restrict_methods %}
  if ($request_method !~ ^(GET|POST)$ ) {
    return 405;
  }
{% endif %}

{% if NGINX_CONFIG.config|length > 0 %}
  # global config
{% endif %}
{% for setting, value in NGINX_CONFIG.config.items() %}
{%   if setting not in nginx_config_graylist %}
  {{ setting }} {{ value }};
{%   endif %}
{% endfor %}

{% if site.config|length > 0 %}
  # site-specific config
{% endif %}
{% for setting, value in site.config.items() %}
{%   if setting not in nginx_config_graylist %}
  {{ setting }} {{ value }};
{%   endif %}
{% endfor %}

{% if site.headers|length > 0 %}
  # site-specific headers
{% endif %}
{%   for header, value in site.headers.items() %}
{%     if 'header' in header %}
  {{ header }} {{ value }};
{%     else %}
  add_header {{ header }} {{ value }};
{%     endif %}
{%   endfor %}

  location / {
{% if site.mode == 'proxy' %}
    # proxy-mode config
    proxy_pass {{ site.proxy.proto }}://{{ site.proxy.ip }}:{{ site.proxy.port }};

{%   for option, value in site.proxy.headers.items() %}
    proxy_set_header {{ option }} {{ value }};
{%   endfor %}

{% elif site.mode == 'redirect' %}
    # redirect-mode config
{%   if site.redirect.request_uri %}
    return 302 https://{{ site.redirect.target }}$request_uri;
{%   else %}
    return 302 https://{{ site.redirect.target }};
{%   endif %}

{% elif site.mode == 'serve' %}
    # serve-mode config
    root {{ site.serve.path }};
    index {% for ind in site.serve.index %}{{ ind }} {% endfor %};

    location / {
        try_files $uri $uri/ /{{ site.serve.index[0] }};
    }

{% endif %}

  }

{% if site.config_additions|length > 0 %}
  # additional lines
{% endif %}
{% for line in site.config_additions %}
  {{ line }}
{% endfor %}

}
